*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.debug{
    border: 1px solid red;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 100px;
    background-color: #FFF159;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #EBEBEB;
}

.bar{
    width: 80%;
    height: 100%;
    padding: 6px;
    display: grid;
    grid-template-columns: 13% 50% 28%;
    grid-template-rows: 56px 32px;
    grid-template-areas: "nav-top-left nav-top-center nav-top-right"
    "nav-bottom-left nav-bottom-center nav-bottom-right";
    column-gap: 24px;
    row-gap: 6px;
    font-size: 13px;
}

.nav-logo{
    grid-area: nav-top-left;
}

.nav-search{
    grid-area: nav-top-center;
    height: 40px;
    display: flex;
}

.nav-void{
    grid-area: nav-top-right;
}

.nav-residence{
    grid-area: nav-bottom-left;
    color: #333333;
}

.nav-categories{
    grid-area: nav-bottom-center;
}

.nav-signin{
    grid-area: nav-bottom-right;
}

.img-logo{
    width: 100%;
}

.search-form{
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 910;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.search-input{
    position: relative;
    z-index: 915;
    border-radius: 2px;
    display: flex;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 20%);
    height: 40px;
    width: 100%;
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0,0,0,0);
    border-width: 1.5px;
}

.search-button{
    left: auto;
    position: absolute;
    z-index: 920;
    padding: 0;
    background: none;
    border: none;
    font-size: 22px;
    color: #666666;
    width: 46px;
    height: 26px;
    right: 0;
    top: 7px;
    bottom: 0;
    border-left: 1px solid #e6e6e6;
}

.residence-link{
    text-decoration: none;
    color: #333333;
}

.nav{
    list-style-type: none;
}

.color{
    color: #333333!important;
}

.nav-list{
    display: inline-block;
    margin: 0 5px;
}

.nav-link{
    text-decoration: none;
    color: #3333333c;
}

.slider-container{
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 910;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.banner-list{
    height: 100%;
    position: relative;
    z-index: 915;
    display: flex;
    width: 100%;
}

.banner{
    width: 100%;
}

.unordered{
    display: flex;
    left: auto;
    position: absolute;
    z-index: 920;
    padding: 0;
    background: none;
    right: auto;
    bottom: 4px;
}

.banner-list-buttons{
    list-style-type: circle;
    list-style-position: inside;
    color: #FFFFFF;
}

.advantages-grid{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: "advantages-first advantages-second";
    background-color: #FFFFFF;
}

.advantages-first{
    display: flex;
    flex-direction: row;
    grid-area: advantages-first;
    justify-content: space-around;
    padding: 12px;
}

.advantages-second{
    grid-area: advantages-second;
    border-left: 1px solid #EEEEEE;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px;
}

.advantages-logo{
    margin-right: 10px;
}

.advantages{
    display: flex;
    flex-direction: row;
}

.advantages-description{
    display: flex;
    flex-direction: column;
}

.font-17{
    font-size: 17px;
}

.color-link{
    color: #3483FA;
    font-size: 13px;
}

.title{
    margin-bottom: 24px;
    padding-top: 24px;
}

.section-title{
    font-size: 25px;
    color: #666666;
}

.section-link{
    color: #3483FA;
    font-size: 15px;
}

.centered{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.space-around{
    justify-content: space-around;
}

.w-100{
    width: 100%;
}

.col-gap{
    column-gap: 24px;
}

.my{
    margin-top: 24px;
    margin-bottom: 24px;
}

.card{
    background-color: #FFFFFF;
    height: 324px;
}

.card-description{
    border-top: 1px solid #EEEEEE;
    height: 100%;
}

.card-content{
    width: 85%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
}

.price{
    color: #333333;
    font-size: 23px;
}

.sale{
    color: #00A650;
    font-size: 14px;
}

.send{
    color: #00A650;
    font-size: 14px;
    font-weight: bold;
}

.space-between{
    justify-content: space-between;
}

.suscribe{
    background: linear-gradient(to right, #A90F90 60%, #0C1A51);
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    height: 87px;
    width: 100%;
    padding: 12px;
}

.suscribe-title{
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
}

.suscribe-price{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
}

.suscribe-price-pseudo{
    border-left: #FFFFFF 1px solid;
    height: 37px;
}

.suscribe-price-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}

.suscribe-price-before{
    font-size: 14px;
    text-decoration: line-through;
}

.suscribe-price-now{
    font-size: 17px;
}

.suscribe-price-month{
    font-size: 13px;
}

.suscribe-benefits{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 17px;
    background-color: #FFFFFF;
    color: #000000;
}

.suscribe-benefits-title{
    margin: 12px;
}

.suscribe-benefits-description{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    border-bottom: 1px solid #EFEFEF;
    width: 100%;
    padding: 12px;
}

.suscribe-benefits-one, .suscribe-benefits-two, .suscribe-benefits-three{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    color: #000000;
}

.suscribe-benefits-three{
    font-size: 16px !important;
}

.suscribe-button-container{
    display: flex;
    justify-content: end;
    background-color: #FFFFFF;
}

.suscribe-button{
    margin: 12px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #3483FA;
    border: none;
    border-radius: 5px;
    height: 48px;
    width: 123px;
}

.benefits-title{
    font-size: 25px;
    color: #666666;
    margin: 12px
}

.benefits-title a{
    text-decoration: none;
    color: #3483FA;
    font-size: 15px;
}

.benefits-description{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.benefits-description-disney{
    display: flex;
    height: 250px;
    width: 32%;
    background-image: url("media/beneficios 1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    align-items: end;
}

.benefits-description-disney-content{
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 12px;
}

.benefits-description-disney-content-img img{
    width: 85%;
}

.benefits-description-disney-content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}

.benefits-description-hbo{
    display: flex;
    height: 250px;
    width: 32%;
    background-image: url("media/beneficios 2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    align-items: end;
}

.benefits-description-hbo-content{
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 12px;
}

.benefits-description-hbo-content-img img{
    width: 85%;
}

.benefits-description-hbo-content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}

.benefits-description-paramount{
    display: flex;
    height: 250px;
    width: 32%;
    background-image: url("media/beneficios 3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    align-items: end;
}

.benefits-description-paramount-content{
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 12px;
}

.benefits-description-paramount-content-img img{
    width: 85%;
}

.benefits-description-paramount-content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}

.benefits-description-text1{
    font-size: 22px;
    color: #FFFFFF;
}

.benefits-description-text2{
    font-size: 17px;
    color: #FFFFFF;
}

.benefits-description-text3{
    font-size: 11px;
    color: #FFFFFF;
}

.discover-title{
    font-size: 26px;
    color: #666666;
    margin: 12px
}

.discover-description-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    column-gap: 12px;
}

.discover-description-container a{
    text-decoration: none;
}

.discover-description-content{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #FFFFFF;
}

.discover-description-content img{
    width: 100%;
}

.discover-description-content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}

.discover-description-content-text span{
    font-size: 28px;
    color: #4B4B4B;
}

.discover-description-content-text-1{
    font-size: 12px !important;
}

.discover-description-content-text button{
    width: 96px;
    height: 36px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #3483FA;
    border: none;
    border-radius: 5px;
}

.stores-title{
    font-size: 25px;
    color: #666666;
    margin: 12px
}

.stores-title a{
    text-decoration: none;
    color: #3483FA;
    font-size: 15px;
}

.stores-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.stores-description-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 340px;
    padding-top: 50px;
    row-gap: 12px;
    background-image: url("media/mejores 1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #FFFFFF;
}

.stores-description-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    height: 340px;
    row-gap: 12px;
    background-image: url("media/mejores 2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #FFFFFF;
}

.stores-description-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    height: 340px;
    row-gap: 12px;
    background-image: url("media/mejores 3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #FFFFFF;
}

.stores-description-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    height: 340px;
    row-gap: 12px;
    background-image: url("media/mejores 4.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #FFFFFF;
}

.stores-description-logo{
    display: flex;
    justify-content: center;
    width: 100%;
}

.stores-description-logo img{
    border-radius: 10px;
    width: 30%;
    box-shadow: #0000002f 0px 2px 15px 0px;
}

.stores-description-name{
    font-size: 25px;
    font-weight: bold;
    color: #333333;
}

.stores-description-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    column-gap: 6px;
}

.stores-description-more{
    font-size: 15px;
    color: #999999;
    font-weight: bold;
}

.collections-title{
    font-size: 26px;
    color: #666666;
    margin: 12px;
    font-weight: lighter;
}

.collections-title button{
    font-weight: bold;
    font-size: 26px;
    color: #666666;
    background-color: rgba(0,0,0,0);
    border: none;
}

.collections-content{
    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 12px;
}

.collections-content-main{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.collections-content-main img{
    width: 100%;
}

.collections-content-main-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
}

.collections-content-main-text1{
    font-size: 12px;
    color: #4B4B4B;
    font-weight: bold;
}

.collections-content-main-text2{
    font-size: 28px;
    color: #4B4B4B;
    font-weight: bolder;
}

.collections-content-grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    column-gap: 12px;
    row-gap: 12px;
}

.collections-content-grid img{
    width: 100%;
}

.categories-title{
    font-size: 25px;
    color: #666666;
    margin: 12px;
    font-weight: lighter;
}

.categories-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FFFFFF;
}

.categories-content-column{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.categories-content-cell{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6px;
    border: 1px solid #E5E5E5;
    height: 170px;
    font-size: 14px;
}

.information-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    padding: 24px;
}

.information{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.information-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
}

.information-description-title{
    font-size: 19px;
    color: #4B4B4B;
    margin: 12px;
    font-weight: medium;
}

.information-description-text{
    font-size: 15px;
    color: #999999;
    margin: 12px;
    font-weight: regular;
}

.information-description-link{
    font-size: 13px;
    color: #3483FA;
    margin: 12px;
    font-weight: regular;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFFFFF;
    padding: 24px;
    border-top: 1px solid #E5E5E5;
}

.copyright{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
}

.interest-links{
    list-style-type: none;
    margin: 6px;
}

.interest-links li{
    display: inline;
}

.interest-links a{
    text-decoration: none;
    font-size: 12px;
    color: #333333;
}

.copyright-links span{
    font-size: 11px;
    color: #999999;
    margin: 6px;
}

.copyright-address{
    font-size: 11px;
    color: #999999;
    margin: 6px;
}

.endorse{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    column-gap: 12px;
    border-top: 1px solid #E5E5E5;
}

.endorse div{
    width: 12%;
}

.endorse img{
    width: 100%;
}