*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.debug{
    border: 1px solid red;
}

body{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 100px;
    background-color: #FFF159;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #EBEBEB;
}

.bar{
    width: 80%;
    height: 100%;
    padding: 6px;
    display: grid;
    grid-template-columns: 13% 50% 28%;
    grid-template-rows: 56px 32px;
    grid-template-areas: "nav-top-left nav-top-center nav-top-right"
    "nav-bottom-left nav-bottom-center nav-bottom-right";
    column-gap: 24px;
    row-gap: 6px;
    font-size: 13px;
}

.nav-logo{
    grid-area: nav-top-left;
}

.nav-search{
    grid-area: nav-top-center;
    height: 40px;
    display: flex;
}

.nav-void{
    grid-area: nav-top-right;
}

.nav-residence{
    grid-area: nav-bottom-left;
    color: #333333;
}

.nav-categories{
    grid-area: nav-bottom-center;
}

.nav-signin{
    grid-area: nav-bottom-right;
}

.img-logo{
    width: 100%;
}

.search-form{
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 910;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.search-input{
    position: relative;
    z-index: 915;
    border-radius: 2px;
    display: flex;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 20%);
    height: 40px;
    width: 100%;
    padding: 10px 60px 10px 15px;
    border-style: solid;
    border-color: rgba(0,0,0,0);
    border-width: 1.5px;
}

.search-button{
    left: auto;
    position: absolute;
    z-index: 920;
    padding: 0;
    background: none;
    border: none;
    font-size: 22px;
    color: #666666;
    width: 46px;
    height: 26px;
    right: 0;
    top: 7px;
    bottom: 0;
    border-left: 1px solid #e6e6e6;
}

.residence-link{
    text-decoration: none;
    color: #333333;
}

.nav{
    list-style-type: none;
}

.color{
    color: #333333!important;
}

.nav-list{
    display: inline-block;
    margin: 0 5px;
}

.nav-link{
    text-decoration: none;
    color: #3333333c;
}

.slider-container{
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 910;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.banner-list{
    height: 100%;
    position: relative;
    z-index: 915;
    display: flex;
    width: 100%;
}

.banner{
    width: 100%;
}

.unordered{
    display: flex;
    left: auto;
    position: absolute;
    z-index: 920;
    padding: 0;
    background: none;
    right: auto;
    bottom: 4px;
}

.banner-list-buttons{
    list-style-type: circle;
    list-style-position: inside;
    color: #FFFFFF;
}

.advantages-grid{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: "advantages-first advantages-second";
    background-color: #FFFFFF;
}

.advantages-first{
    display: flex;
    flex-direction: row;
    grid-area: advantages-first;
    justify-content: space-around;
    padding: 12px;
}

.advantages-second{
    grid-area: advantages-second;
    border-left: 1px solid #EEEEEE;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px;
}

.advantages-logo{
    margin-right: 10px;
}

.advantages{
    display: flex;
    flex-direction: row;
}

.advantages-description{
    display: flex;
    flex-direction: column;
}

.font-17{
    font-size: 17px;
}

.color-link{
    text-decoration: underline;
    color: #3483FA;
    font-size: 13px;
}

.title{
    margin-bottom: 24px;
    padding-top: 24px;
}

.section-title{
    font-size: 25px;
    color: #666666;
}

.section-link{
    text-decoration: underline;
    color: #3483FA;
    font-size: 15px;
}

.centered{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.space-around{
    justify-content: space-around;
}

.w-100{
    width: 100%;
}

.col-gap{
    column-gap: 24px;
}

.my{
    margin-top: 24px;
    margin-bottom: 24px;
}

.card{
    background-color: #FFFFFF;
    height: 324px;
}

.card-description{
    border-top: 1px solid #EEEEEE;
    height: 100%;
}

.card-content{
    width: 85%;
    height: 85%;
    margin-left: auto;
    margin-right: auto;
}

.price{
    color: #333333;
    font-size: 23px;
}

.sale{
    color: #00A650;
    font-size: 14px;
}

.send{
    color: #00A650;
    font-size: 14px;
    font-weight: bold;
}

.space-between{
    justify-content: space-between;
}

.suscribe{
    background: linear-gradient(to right, #A90F90 60%, #0C1A51);
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    height: 87px;
    width: 100%;
    padding: 12px;
}

.suscribe-title{
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
}

.suscribe-price{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
}

.suscribe-price-pseudo{
    border-left: #FFFFFF 1px solid;
    height: 37px;
}

.suscribe-price-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}

.suscribe-price-before{
    font-size: 14px;
    text-decoration: line-through;
}

.suscribe-price-now{
    font-size: 17px;
}

.suscribe-price-month{
    font-size: 13px;
}

.suscribe-benefits{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 17px;
    background-color: #FFFFFF;
    color: #000000;
}

.suscribe-benefits-title{
    margin: 12px;
}

.suscribe-benefits-description{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    border-bottom: 1px solid #EFEFEF;
    width: 100%;
    padding: 12px;
}

.suscribe-benefits-one, .suscribe-benefits-two, .suscribe-benefits-three{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    color: #000000;
}

.suscribe-benefits-three{
    font-size: 16px !important;
}

.suscribe-button-container{
    display: flex;
    justify-content: end;
    background-color: #FFFFFF;
}

.suscribe-button{
    margin: 12px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #3483FA;
    border: none;
    border-radius: 5px;
    height: 48px;
    width: 123px;
}